body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.faveButton {
  display: block;
  border: 1px solid #000;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

input {
  font-size: 1em;
}

input[type="search"] {
  border: 2px solid #000;
  margin-right: 1em;
}

input[type="search"]:focus {
	border: 2px solid #900;
}

#movie-list p {
  cursor: default;
}

.selected {
  border: 2px dotted #900;
  padding: .5em;
  margin: 2em;
}

.movie-details li {
  text-align: left;
  list-style-type: none;
}
